
<html>
<head>
  <title>Regenerations</title>
</head>

<form method=”POST” action=”/doctors/new”>
  <label for="regeneration">Regeneration:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="year">Year:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
    <label for="catchphrase">Catchphrase:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
    <label for="first companion">First Companion:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form>
</html>